#include "funcoes.h"

void deslogar(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;
  
  GList *children, *iter;

  children = gtk_container_get_children(GTK_CONTAINER(dados->widgets.pagina));
  for(iter = children; iter != NULL; iter = g_list_next(iter))
  {
    gtk_widget_destroy(GTK_WIDGET(iter->data));
    //gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), iter->data);
  }
  g_list_free(children);
 
  printar_pag_login(dados);
}

void printar_pag_login(gpointer data)
{
  Dados *dados = data;
  
  
  dados->widgets.pag_inicial = gtk_fixed_new();

  dados->widgets.label[0] = gtk_label_new("Usuario");
  dados->widgets.label[1] = gtk_label_new("Senha");
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_inicial), dados->widgets.label[0], 430, 355); //senha
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_inicial), dados->widgets.label[1], 430, 405); //usuario

  

  dados->widgets.btn_logar = gtk_button_new_with_label("Login");
  dados->widgets.btn_registrar[0] = gtk_button_new_with_label("Registrar");
  gtk_widget_set_size_request(dados->widgets.btn_logar, 100, 30);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_inicial), dados->widgets.btn_logar, 500, 450);
  gtk_widget_set_size_request(dados->widgets.btn_registrar[0], 100, 30);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_inicial), dados->widgets.btn_registrar[0], 620, 450);

  dados->widgets.entry_email = gtk_entry_new();
  dados->widgets.entry_senha = gtk_entry_new();
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_inicial), dados->widgets.entry_email, 500, 350);
  gtk_widget_set_size_request(dados->widgets.entry_email, 220, 30);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_inicial), dados->widgets.entry_senha, 500, 400);
  gtk_widget_set_size_request(dados->widgets.entry_senha, 220, 30);

  g_signal_connect(GTK_BUTTON(dados->widgets.btn_logar), "clicked", G_CALLBACK(logingtk), dados);
  g_signal_connect(GTK_BUTTON(dados->widgets.btn_registrar[0]), "clicked", G_CALLBACK(printar_pag_registro), dados);

  gtk_container_add(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_inicial);
  gtk_widget_show_all(dados->widgets.pagina);
}

int busca_email(int n_usuarios, Usuario *usuario, char *compare)
{
  for(int k = 0; k < n_usuarios; k++)
    {
      if(strcmp(usuario[k].email, compare) == 0)
      {
        return k;
        break;
      }
    }
    return -1;
}

int busca_senha(int n_usuarios, Usuario *usuario, char *compare)
{
  for(int k = 0; k < n_usuarios; k++)
    {
      if(strcmp(usuario[k].senha, compare) == 0)
      {
        printf(" a senha encontrada foi %s", usuario[k].senha);
        return k;
        break;
      }
    }
    return - 1;
}

void direcionar_board_aoclicar(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;
  
  for(int i = 0; i < 5; i++)
  {
    if(widget == dados->widgets.botoes_menu_boards[i])
    {
      dados->board_acessada = i;
      break;
    }
  }

  g_object_ref(dados->widgets.pag_menu_boards);
  gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_menu_boards);

  printar_pag_board(dados);
}

void direcionar_topico_aoclicar(GtkWidget *widget, gpointer data)
{

}

void botao_criar_topico(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;
  GtkTextIter start, end;

  gtk_text_buffer_get_start_iter(dados->widgets.texto_post_buffer, &start);
  gtk_text_buffer_get_end_iter(dados->widgets.texto_post_buffer, &end);
  char *texto = gtk_text_buffer_get_text(dados->widgets.texto_post_buffer, &start, &end, FALSE);

  printf("%s",texto);
}

void botao_cancelar_criar_postagem(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;

  g_object_ref(dados->widgets.pag_criar_topico);
  gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_criar_topico);
  printar_pag_board(dados);
}

void pag_criar_topico(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;
  GtkWidget *entry_titulo, *botao_postar, *botao_cancelar, *texto_post, *scroll_texto_post, *buffer_salvar_conteudo, *texto;

  g_object_ref(dados->widgets.pag_board);
  gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_board);

  dados->widgets.pag_criar_topico = gtk_fixed_new();
  entry_titulo = gtk_entry_new();
  botao_postar = gtk_button_new_with_label("Postar");
  botao_cancelar = gtk_button_new_with_label("Cancelar");
  
  dados->widgets.texto_post_buffer = gtk_text_buffer_new(NULL);
  texto_post = gtk_text_view_new_with_buffer (dados->widgets.texto_post_buffer);
  gtk_text_view_set_wrap_mode (GTK_TEXT_VIEW (texto_post), GTK_WRAP_WORD); 
  scroll_texto_post = gtk_scrolled_window_new (NULL, NULL);
  gtk_scrolled_window_set_policy (GTK_SCROLLED_WINDOW (scroll_texto_post), GTK_POLICY_AUTOMATIC, GTK_POLICY_AUTOMATIC); 
  gtk_container_add (GTK_CONTAINER (scroll_texto_post), texto_post);
  gtk_container_set_border_width (GTK_CONTAINER (scroll_texto_post), 5);

  gtk_widget_set_size_request(entry_titulo, 460, 30);
  gtk_widget_set_size_request(botao_postar, 200, 30);
  gtk_widget_set_size_request(botao_cancelar, 200, 30);
  gtk_widget_set_size_request(scroll_texto_post, 460, 300);

  g_signal_connect(GTK_BUTTON(botao_postar), "clicked", G_CALLBACK(botao_criar_topico), data);
  g_signal_connect(GTK_BUTTON(botao_cancelar), "clicked", G_CALLBACK(botao_cancelar_criar_postagem), data);
  
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_criar_topico), entry_titulo, 500, 100);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_criar_topico), botao_postar, 500, 600);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_criar_topico), botao_cancelar, 740, 600);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_criar_topico), scroll_texto_post, 500, 200);
  

  gtk_container_add(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_criar_topico);
  gtk_widget_show_all(dados->widgets.pagina);
}

void pag_seguinte_lista_topicos(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;
  g_object_ref(dados->widgets.pag_board);
  gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_board);
  printf("board acessada %i\n", dados->board_acessada);
  printf("n paginas %i\n", dados->board[dados->board_acessada].n_paginas);
  printf("pag acessada %i\n", dados->board[dados->board_acessada].pag_acessada);
  if(dados->board[dados->board_acessada].pag_acessada < dados->board[dados->board_acessada].n_paginas)
  {
    printf("teste");
    dados->board[dados->board_acessada].pag_acessada++;
  }
  printar_pag_board(dados);
}

void printar(Dados *dados)
{
  /*
  GtkWidget *pag_branco, *botao;
  pag_branco = gtk_fixed_new();
  botao = gtk_button_new_with_label("teste");

  gtk_fixed_put(GTK_FIXED(pag_branco), botao, 500, 150);
  gtk_container_add(GTK_CONTAINER(dados->widgets.pagina), pag_branco);
  gtk_widget_show_all(dados->widgets.pagina);
  */
}

void pag_anterior_lista_topicos(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;
  g_object_ref(dados->widgets.pag_board);
  gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_board);
  printf("board acessada %i\n", dados->board_acessada);
  printf("n paginas %i\n", dados->board[dados->board_acessada].n_paginas);
  printf("pag acessada %i\n", dados->board[dados->board_acessada].pag_acessada);
  if(dados->board[dados->board_acessada].pag_acessada > 0)
  {
    printf("teste");
    dados->board[dados->board_acessada].pag_acessada--;
  }
  printar_pag_board(dados);
}

void printar_pag_board(Dados *dados)
{
  dados->widgets.pag_board = gtk_fixed_new();

  GtkWidget *botao_criar_topico, *botao_prox_pag, *botao_pag_anterior, *box_horizontais[5], *labels[5], *vbox_topicos;

  vbox_topicos = gtk_box_new(1,0);
  botao_criar_topico = gtk_button_new_with_label("Criar Postagem");
  botao_prox_pag = gtk_button_new_with_label(">>");
  botao_pag_anterior = gtk_button_new_with_label("<<");

  dados->board[dados->board_acessada].n_paginas = dados->board[dados->board_acessada].n_topicos/5;
  
  for(int i = 0; i < 5; i++)
  {
    if(strlen(dados->board[dados->board_acessada].topico[5*dados->board[dados->board_acessada].pag_acessada + i].titulo) > 0)
    {
      box_horizontais[i] = gtk_box_new(0,50);
      gtk_box_pack_start(GTK_BOX(vbox_topicos), box_horizontais[i], 0, 0, 0);
      dados->widgets.botoes_topicos[i] = gtk_button_new_with_label(dados->board[dados->board_acessada].topico[5*dados->board[dados->board_acessada].pag_acessada + i].titulo);
      gtk_widget_set_size_request(dados->widgets.botoes_topicos[i], 300, 70);

      dados->botao_clicado[i] = i;
      labels[i] = gtk_label_new(dados->usuario[i].email);
      gtk_box_pack_start(GTK_BOX(box_horizontais[i]), dados->widgets.botoes_topicos[i], 0, 0, 0);
      gtk_box_pack_start(GTK_BOX(box_horizontais[i]), labels[i], 1, 0, 0);

      g_signal_connect(GTK_BUTTON(dados->widgets.botoes_topicos[i]), "clicked", G_CALLBACK(direcionar_topico_aoclicar), dados);
    }
  }

  gtk_widget_set_size_request(botao_criar_topico, 100, 30);
  g_signal_connect(GTK_BUTTON(botao_criar_topico), "clicked", G_CALLBACK(pag_criar_topico), dados);
  
  gtk_widget_set_size_request(botao_prox_pag, 100, 30);
  g_signal_connect(GTK_BUTTON(botao_prox_pag), "clicked", G_CALLBACK(pag_seguinte_lista_topicos), dados);

  gtk_widget_set_size_request(botao_pag_anterior, 100, 30);
  g_signal_connect(GTK_BUTTON(botao_pag_anterior), "clicked", G_CALLBACK(pag_anterior_lista_topicos), dados);

  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_board), botao_criar_topico, 1000, 150);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_board), botao_prox_pag, 700, 500);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_board), botao_pag_anterior, 500, 500);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_board), vbox_topicos, 500, 150);

  gtk_container_add(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_board);
  gtk_widget_show_all(dados->widgets.pagina);
}

void printar_menu_boards(Dados *dados)
{

  dados->widgets.pag_menu_boards = gtk_fixed_new();

  GtkWidget *box_boards, *box_horizontais[5], *labels[5], *imagem_cima_boards;
 
  box_boards = gtk_box_new(1,0);
  imagem_cima_boards = gtk_image_new_from_file("imagem_cima.png");
  
  for(int i = 0; i < 5; i++)
  {
    box_horizontais[i] = gtk_box_new(0,50);
  }

  for(int i = 0; i < 5; i++)
  {
    gtk_box_pack_start(GTK_BOX(box_boards), box_horizontais[i], 0, 0, 0);
    dados->widgets.botoes_menu_boards[i] = gtk_button_new_with_label(dados->board[i].nome);
    gtk_widget_set_size_request(dados->widgets.botoes_menu_boards[i], 300, 70);

    dados->botao_clicado[i] = i;
    labels[i] = gtk_label_new(dados->usuario[i].email);
    gtk_box_pack_start(GTK_BOX(box_horizontais[i]), dados->widgets.botoes_menu_boards[i], 0, 0, 0);
    gtk_box_pack_start(GTK_BOX(box_horizontais[i]), labels[i], 1, 0, 0);

    g_signal_connect(GTK_BUTTON(dados->widgets.botoes_menu_boards[i]), "clicked", G_CALLBACK(direcionar_board_aoclicar), dados);
  }
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_menu_boards), imagem_cima_boards, 500, 50);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_menu_boards), box_boards, 500, 150);
  
  gtk_container_add(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_menu_boards);
  gtk_widget_show_all(dados->widgets.pagina);
}

int login(char *email_cadastro, char *senha_cadastro, Dados *dados)
{
  
  if (busca_email(dados->n_usuarios, dados->usuario, email_cadastro) != -1)
  {
    if(strcmp(senha_cadastro, dados->usuario[busca_email(dados->n_usuarios, dados->usuario, email_cadastro)].senha) == 0 && busca_email(dados->n_usuarios, dados->usuario, email_cadastro) != -1)
    {
      
      dados->usuario_logado = busca_email(dados->n_usuarios, dados->usuario, email_cadastro);
      
      g_object_ref(dados->widgets.pag_inicial); //remover do container sem adicionar +1 pra reference count, ao remover na próxima linha, referencia passa a ser = 0, causando a destruição do widget
      gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_inicial);
      
      printar_menu_boards(dados);
    }
    else
    {
      gtk_entry_set_text(GTK_ENTRY(dados->widgets.entry_senha),"Senha errada");
    }
  }
  else
  {
    gtk_entry_set_text(GTK_ENTRY(dados->widgets.entry_email),"Email não encontrado");
  } 
  
}

void registrar(char *email_cadastro, char *senha_cadastro, Dados *dados)
{
    if(busca_email(dados->n_usuarios, dados->usuario, email_cadastro) != -1)
    {
      gtk_entry_set_text(GTK_ENTRY(dados->widgets.entrada[2]), "EMAIL EXISTENTE");
    }
    else
    {
      strcpy(dados->usuario[dados->n_usuarios].email, email_cadastro);
      strcpy(dados->usuario[dados->n_usuarios].senha, senha_cadastro);
      dados->n_usuarios++;
      g_object_ref(dados->widgets.pag_registro); //remover do container sem adicionar +1 pra reference count, ao remover na próxima linha, referencia passa a ser = 0, causando a destruição do widget
      gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_registro);
      printar_pag_login(dados);
    }
}


void logingtk(GtkWidget *widget, gpointer data)
{
  Dados *dados = data; 

  char *email_cadastro = (char*)gtk_entry_get_text(GTK_ENTRY(dados->widgets.entry_email));
  printf("%s\n", email_cadastro);

  char *senha_cadastro = (char*)gtk_entry_get_text(GTK_ENTRY(dados->widgets.entry_senha));
  printf("%s\n", senha_cadastro);
  
  login(email_cadastro, senha_cadastro, dados);
}

void registrargtk(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;
  
  const gchar *entry_email = gtk_entry_get_text(GTK_ENTRY(dados->widgets.entrada[2]));
  char *email_cadastro = (char*) entry_email; 

  const gchar *entry_senha = gtk_entry_get_text(GTK_ENTRY(dados->widgets.entrada[4]));
  char *senha_cadastro = (char*) entry_senha;
  
  registrar(email_cadastro, senha_cadastro, dados);
  
}

void printar_pag_registro(GtkWidget *widget, gpointer data)
{
  Dados *dados = data;
  g_object_ref(dados->widgets.pag_inicial);
  gtk_container_remove(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_inicial);
  dados->widgets.pag_registro = gtk_fixed_new();

  dados->widgets.label[2] = gtk_label_new("Email");
  dados->widgets.label[3] = gtk_label_new("Apelido");
  dados->widgets.label[4] = gtk_label_new("Senha");
  dados->widgets.label[5] = gtk_label_new("Repita sua Senha");
  dados->widgets.btn_registrar[1] = gtk_button_new_with_label("Registrar");

  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.label[2], 350, 255); //Email
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.label[3], 350, 305); //apelido
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.label[4], 350, 355); //senha
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.label[5], 350, 405); //senha repetir
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.btn_registrar[1], 500, 450);
  gtk_widget_set_size_request(dados->widgets.btn_registrar[1], 220, 30);

  dados->widgets.entrada[2] = gtk_entry_new();//email
  dados->widgets.entrada[3] = gtk_entry_new();//apelido
  dados->widgets.entrada[4] = gtk_entry_new();//senha
  dados->widgets.entrada[5] = gtk_entry_new();//senha repetir

  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.entrada[2], 500, 250);
  gtk_widget_set_size_request(dados->widgets.entrada[2], 220, 30);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.entrada[3], 500, 300);
  gtk_widget_set_size_request(dados->widgets.entrada[3], 220, 30);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.entrada[4], 500, 350);
  gtk_widget_set_size_request(dados->widgets.entrada[4], 220, 30);
  gtk_fixed_put(GTK_FIXED(dados->widgets.pag_registro), dados->widgets.entrada[5], 500, 400);
  gtk_widget_set_size_request(dados->widgets.entrada[5], 220, 30);

  g_signal_connect(GTK_BUTTON(dados->widgets.btn_registrar[1]), "clicked", G_CALLBACK(registrargtk), dados);

  gtk_container_add(GTK_CONTAINER(dados->widgets.pagina), dados->widgets.pag_registro);
  
  gtk_widget_show_all(dados->widgets.pagina);

}
